@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rebeccapurple;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.flex-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 16px;
}
footer {
    background-color: rgb(12, 5, 19);
    min-height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: teal;
    border: 2px solid white;
    border-radius: 5px;
    height: 200px;
    width: 300px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rebeccapurple, teal);
    height: 10vh;

}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    border-bottom: 2px solid rebeccapurple;
}

.social {
    list-style: none;
    display: flex;
}

.social li a i {
    color: white;
}

.img-responsive {
    width: 100%;
}

#empresa {
    width: 80vw;
}
.row {
    display: flex;
}

.col {
    width: 100%;
    padding: 2rem;
}
/* Consulta de Medios Table*/
 @media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        height: 10vh;
    }
    .box {
        width: 350px;
    }
    #empresa {
        width: 90vw;
    }
    .row {
        flex-direction: column;
    }
} 
/* Consulta de Medios Mobile */

@media (max-width: 500px){
    #empresa {
        width: 95vw;
    }
    h1 {
        font-size: 26px;
    }
    .box {
        width: 400px;
    }
    nav ul {
        flex-direction: column;
        min-height: 15vh;
    }
}



