* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: teal;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
}

nav {
    background-color: rebeccapurple;
    min-height: 5vh;
}

nav ul {
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
main {
    min-height: 75vh;
}
.flex-container {
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: bisque;
}

.box {
    background-color: rebeccapurple;
    height: 200px;
    width: 200px;
    border: 0.5px solid lightslategray;
    border-radius: 5px;
}
.img-responsive {
    width: 100%;
}

footer  {
    background-color: black;
    color: white;
    height: 10vh;
}

.row.text-center {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.row.text-center span {
    transition: ease-in-out 0.3s;
    
}

.row.text-center span:hover {
    color: brown;
}